# Node modules
node_modules/

# Vite build output
dist/

# Dependency directories
/.pnp
.pnp.js

# TypeScript build output
*.tsbuildinfo

# Logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac system files
.DS_Store

# VSCode settings and workspace files
.vscode/

# IDE-specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
build/

# Test coverage
coverage/

# Miscellaneous
*.tgz
*.zip
*.tar
*.gz

# React Native
*.expo

# JetBrains IDEs
.idea/

# Yarn
yarn-error.log
yarn-debug.log

# npm
package-lock.json
npm-debug.log
